<!DOCTYPE html>
<html>
<head>
  <title>ABRE Software</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to A Better Real Estate Softare</h1>
      <p>The most comprehensive solution to flipping prime properties</p>
      <form class="form-horizontal" action="/results" method="GET">
        <div>
          <input type="text" name="search" placeholder="Enter Address, neighborhood, or ZIP">
          <button type="button" class="btn btn-primary">Get Started!</button>
        </div>
    </form>
    </div>
  </div>
</body>
</html>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>ABRE Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      input {
        height: 25px;
        width: 200px;
        text-align: left;
        border-style: solid;
        border-width: 1px;
        font-size: 12px;
        font-weight: bold;
      }
      .d {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .submit {
        font-size: 20px;
        width: 200px;
        text-align: center;
        color: #1DA1F2;
        background-color: white;
        border-color: #1DA1F2;
        transition-duration: .4s; 
      }
      .submit:hover {
        font-size: 20px;
        width: 200px;
        background-color: #1DA1F2;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class='d'>
      <form action="/results" method="GET">
      <input type="text" placeholder="Address, neighborhood, or ZIP" name="search">
      <input class='submit' type="submit">
      </form>
    </div>
    <div id="map"></div>
    <script>
      var map;
      function initMap() { 
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.0902, lng: -95.7129},
          zoom: 5
        })
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4n3vNlINUiRKrmYF4UQd7ERgM8C4SQUU&callback=initMap"
    async defer></script>
  </body>
</html> -->